img {
  width: 100%
}

.landing {
  position: relative;
  background: url('./img/adventure-climb-414017.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 92vh;
  margin-top: 0px;
  margin-bottom: -50px;
  display: grid;
}

.landing-inner {
  margin: auto;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.btn-info {
  background-color: #9DDCB1;
  color: rgb(46, 53, 59);
  border: none;
}

.btn-info:hover {
  background-color: #34495E;
}

.btn-dark {
  background-color: rgb(80, 89, 99);
}

.btn-dark:hover {
  background-color: rgb(41, 46, 51);
}