.dashboard {
  display: grid;
  height: 88vh;
}

.trip-btn-row {
  display: inline-block;
}

.btn-delete {
  color: #000;
  left: 50;
  float: right;
  border-radius: 50%;
}

.btn-delete:hover {
  background: rgb(202, 0, 0);
  color: #fff;
  border-radius: 50%;
  transition: 0.5s;
}

.card-body {
  background-color: rgb(255, 255, 255);
}